/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-oct-2018, 10:11:20
    Author     : Daw2
*/
.logo{
    height: 150px;
}
.imgPrincipal{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 350px;
}
.subImgPrincipal{
    background-color:#5b78a7 ;
    border: black solid;
    padding: 0;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
   }
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*menu*/

#menu ul{
    list-style:none;
    display:flex;
    background-color:#2e518b;
}

/* enlaces del menu */

#menu ul a {
 width: 100%;
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:600;
 font-size:16px;
 padding:15px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}

/* items del menu */

#menu ul li {
 position:relative;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
 background:#5b78a7;
}
#menu ul ul {
 display:none;
 position:absolute;
 padding:0;
}

/* items del menu desplegable */

#menu ul ul li {
 width:150px
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
 display:block;
}
