/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-oct-2018, 10:11:20
    Author     : Daw2
*/

body{
    background-image: linear-gradient(to bottom, #E0F7FA 10%, #E8F8F5 90% );
}
.imgPrincipal{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 700px;
}
.subImgPrincipal{
    /*margin-left: 200px;*/
    background-color:#004254 ;
    border: #B0BEC5 solid;
    padding: 0 !important;
}
.subImgPrincipal2{
    margin-left: 30px;
    background-color:#004254 ;
    border: #B0BEC5 solid;
    padding: 1px !important;
}
@media screen and (max-width: 600px) {
    .imgPrincipal {
        flex-direction: column;
    }
    .subImgPrincipal{
        margin-left: 80px;
        background-color:#004254 ;
        border: #B0BEC5 solid;
        /*padding: 0 !important;*/
    }
    .subImgPrincipal2{
        margin-left: 80px;
        background-color:#004254 ;
        border: #B0BEC5 solid;
        display: none;
    }
}
.mapa{
    width: 100%;
    height: 100%;
}

#notices {
    background-color: white;
    border-bottom: 3px solid #B0BEC5;
    border: 3px solid #B0BEC5;
    margin-top: 50px;
    height: 150px;
}
